{% extends "layoutAdmin.html" %}
{% block content %}

{% if books %}
<table class="table">
    <thead>

        <tr>
            <td>
                Title
            </td>
            <td>
                Author
            </td>
            <td>
               Price 
            </td>
            <td>
               Description
            </td>
            <td>
                Image
                
            </td>


        </tr>


    </thead>
    <tbody>  
        {% for book in books %}

        <tr><td>{{book.title}}</td><td>{{book.author}}</td><td>{{book.price}}</td><td>{{book.category}}</td>
            <td><img src="static/images/{{book.cover}}"  width="80px" height="120px"></td>
            <td><form action="/editBook2" method="POST">
                <input type="hidden" name="bid" value="{{book.bid}}">
                <input type="submit" class="btn btn-info" value="Edit"></button>


            </form></td>
            <td><form action="/deleteBook" method="POST">
                <input type="hidden" name="bid" value="{{book.bid}}">
                <input type="submit" class="btn btn-info" value="Delete"></button></td>
        </tr>

      

        {% endfor %}




    </tbody>



</table>
{% else %}
    book doesnot exist.
{% endif %}









{% endblock content %}