{% extends "layout.html" %}
{% block content %}
{% if books %}
<table class="table">
    <thead>

        <tr>
            <td>
                Title
            </td>
            <td>
                Author
            </td>
            <td>
               Price 
            </td>
            <td>
              Category
            </td>
            <td>
                Image
                
            </td>


        </tr>


    </thead>
    <tbody>  
        {% for book in books %}

        <tr><td>{{book.title}}</td><td>{{book.author}}</td><td>{{book.price}}</td><td>{{book.category}}</td><td><img src="static/images/{{book.cover}}" style="width:120px;height:150px"> </td>
        
        
        <td><form action="/purchase" method="POST">
            <input type="number" name="qty">
            <input type="hidden" name="bid" value="{{book.bid}}">
            <input type="submit" value="Buy" class="btn btn-secondary">



        </form></td>
        
        
        </tr>

      

        {% endfor %}




    </tbody>



</table>
{% else %}
    book doesnot exist.
{% endif %}



{% endblock %}